<p id="notice"><%= notice %></p>

<p>
  <strong>Officer:</strong>
  <%= @gife.officer %>
</p>

<p>
  <strong>Violation:</strong>
  <%= @gife.violation %>
</p>

<%= link_to 'Edit', edit_gife_path(@gife) %> |
<%= link_to 'Back', gives_path %>
