<%= form_with(model: driver, local: true) do |form| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :is_out_of_state %>
    <%= form.text_field :is_out_of_state, id: :driver_is_out_of_state %>
  </div>

  <div class="field">
    <%= form.label :driver_race %>
    <%= form.text_field :driver_race, id: :driver_driver_race %>
  </div>

  <div class="field">
    <%= form.label :driver_age %>
    <%= form.number_field :driver_age, id: :driver_driver_age %>
  </div>

  <div class="field">
    <%= form.label :driver_gender %>
    <%= form.text_field :driver_gender, id: :driver_driver_gender %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
