<!DOCTYPE html>
<html>
<head>
  <title>Drivers</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'drivers', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
</head>

<body>
  <h1>Driver Query Selection</h1>
  <div class="btn-list">
    <a id="qButton" href="javascript:showhide('r1')">
      Which race is most frequently stopped?
    </a>
    <div class="result" id="r1" style="display:none;">
      <% @drivers1.each do |driver| %>
        <tr>
          <p><%= driver.driver_race %></p>
        </tr>
      <% end %>
    </div>

    <a id="qButton" href="javascript:showhide('r2')">
      Drivers charged for DUI versus speeding by race
    </a>
    <div class="result" id="r2" style="display:none;">
      <h4>DUI</h4>
      <%= pie_chart @drivers2.pluck(:race2,:dui_count) %>
      <h4>Speeding</h4>
      <%= pie_chart @drivers2.pluck(:race2,:speed_count) %>
    </div>
  </div>
</body>
