<!DOCTYPE html>
<html>
<head>
  <title>Counties</title>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'locations', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= javascript_include_tag 'http://yandex.st/bootstrap/3.1.1/js/bootstrap.min.js' %>
</head>

<body>
  <h1>County Query Selection</h1>
  <div class="btn-list">
    <a id="qButton" href="javascript:showhide('r1')">
      The county with the highest number of violations cited
    </a>
    <div class="result" id="r1" style="display:none;">
      <% @locations1.each do |location| %>
        <tr>
          <td><%= location.county_name %></td>
        </tr>
      <% end %>
    </div>

    <a id="qButton" href="javascript:showhide('r2')">
      DUI count for all counties
    </a>
    <div class="result" id="r2" style="display:none;">
      <%= column_chart @locations2.pluck(:county_name,:dui_count) %>
    </div>

    <a id="qButton" href="javascript:showhide('r3')">
      Top 5 counties with most speeding violations
    </a>
    <div class="result" id="r3" style="display:none;">
      <% @locations3.each do |location| %>
        <tr>
          <td><%= location.rank %></td>
          <td><%= location.county %></td>
          <br>
        </tr>
      <% end %>
    </div>
  </div>
</body>
